@charset "utf-8";

/*-------------------reset----------------*/

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
	margin: 0;
}

body {
	font: 12px "微软雅黑";
}

ul,
ol {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: normal;
}

a {
	text-decoration: none;
}

img {
	border: none;
	vertical-align: top;
}

li {
	list-style: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: '';
	display: none;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}


/*.container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}*/


/*头部导航*/

.l-ui-header {
	width: 100%;
	height: 60px;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.l-ui-header-logo {
	font: 16px "微软雅黑";
	height: 60px;
	line-height: 60px;
}

.l-ui-header-logo span {
	margin-left: 68px;
}

.l-ui-header-logo a {
	color: #fff;
	text-decoration: none;
}

.l-ui-header-menu {}

.l-ui-header-menu ul {
	margin-right: 68px;
}

.l-ui-header-menu li {
	color: #fff;
	float: left;
	height: 60px;
	line-height: 60px;
	margin-right: 15px;
}


/*侧边栏*/

.l-ui-aside-navbar {
	width: 200px;
	height: auto;
	position: absolute;
	top: 60px;
	left: 0;
	bottom: 0px;
	overflow: hidden;
	background: #EEEEEE;
}

.l-ui-aside-navbar dt {
	font: 14px "微软雅黑";
	color: #333333;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	text-align: left;
	border-bottom: 1px solid #E5E5E5;
}

.l-ui-aside-navbar dt span {
	display: inline-block;
	width: 120px;
	margin-left: 5px;
	/*margin-right: 80px;*/
}

.l-ui-aside-navbar dt span:hover,
.l-ui-aside-navbar dd span:hover {
	color: #0066CC;
}

.l-ui-aside-navbar dt i {
	margin-left: 15px;
}

.l-ui-aside-navbar dd {
	font: 14px "微软雅黑";
	color: #333333;
	height: 30px;
	line-height: 30px;
	text-align: left;
	cursor: pointer;
	margin-left: 35px;
	display: none;
	
}
.l-ui-aside-active{
	display: block !important;	
}

/*主要内容*/

.l-ui-maincontainer {
	height: 90.555%;
	position: absolute;
	left: 200px;
	top: 60px;
	right: 0px;
	bottom: 0px;
	/*background: #C0C0C0;*/
}

.l-ui-rice-tabwrapper{
	width: 90%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.l-ui-rice-tabsearch{
	width: 100%;
	height: 40px;
}


/*脚部*/

.l-ui-footer-wrapper {
	height: 20%;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/*	background: #C9E2B3;*/
}