@charset "utf-8";

/*-------------------reset----------------*/

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
	margin: 0;
}

body {
	font: 12px "微软雅黑";
}

ul,
ol {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: normal;
}

a {
	text-decoration: none;
}

img {
	border: none;
	vertical-align: top;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: '';
	display: none;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

body{
	width: 100%;
	height: 100%;
	background: #fff;
	font: 12px "微软雅黑";
}
/*拖拽组件*/
.ui-drag-wrapper,.div1 {
	width: 100px;
	height: 100px;
	background: #ccc;
	position: absolute;
	left: 50px;
	top: 50px;
	border-radius: 5px;
}
.div1{
	background: #47A3DA;
	left: 200px;
}
/*-----end---------*/


/*浮层-弹窗*/

